.catalog-technic {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 120px;
    padding-left: 282px;
    padding-bottom: 60px;
    max-width: 1347px;
    font-style: normal;
}
.catalog-parts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 60px;
    padding-left: 282px;
    padding-bottom: 60px;
    max-width: 1347px;
}

.carts {
    display: flex;
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
}


@media (max-width: 360px) {
    .catalog-parts {
        width: 360px;
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .catalog-technic {
        width: 360px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 80px;
        padding-left: 0px;
        padding-bottom: 80px;
    }
    .carts {
        display: flex;
        flex-direction: column;
    }
}