.footer {
    margin-top: 60px;
    padding: 60px 10px 90px 282px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    background: rgba(51, 51, 51, 1);
    width: 1919px;
}

@media (max-width: 360px){
    .footer {
    width: 360px;
    padding-left: 10px;
    }
}