.mainPage {
    background-image: url('../img/2023-03-16_17-17\ 2.png');
    width: 1920px;
    height: 594px;
}
.container {
    max-width: 658px;
    height: 315px;
    padding-top: 120px;
    padding-left: 279px;
    display: flex;
    flex-direction: column; 
    gap: 40px;
}
.header {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    line-height: 130%;
}
.info {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    line-height: 130%;
}
 .request {
    max-width: 454px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    line-height: 130%;
}
@media (max-width: 360px) {
    .mainPage {
        background-image: url('../img/mobilePage.png');
        width: 360px;
        height: 330px;
    }
    .container {
        display: flex;
        flex-direction: column; 
        gap: 20px;
        max-width: 329px;
        height: 170px;
        padding-top: 80px;
        padding-left: 12px;
    }
    .header {
        font-size: 18px;
    }
    .info {
        font-size: 15px;
    }
    .request {
        font-size: 10px;
    }
}
