.Navbar {
    width: 1920px;
    height: 82px;
    display: grid;
    grid-template-columns: 358px 793px calc(1920px - 358px - 793px);
    margin-left: 279px;
}
.contacts {
    margin-top: 14px;
    padding-right: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.logo {
    margin-top: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    color: #555555;
}
 .text {
    margin-top: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #555555;
}

@media (max-width: 360px) {
    .Navbar {
        margin-left: 10px;
        margin-top: 10px;
        height: 46px;
        display: flex;
        flex-direction: row;
        padding: 0px;
        gap: 10px;
    }
    .logo {
        margin-top: 0px;
        font-style: normal;
        font-weight: 600;
        font-size: 18.5693px;
        line-height: 130%;
        color: #555555;
    }
    .text {
        margin-top: 0px;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
        color: #555555;
        width: 157px;
    }
    .contacts {
        margin-top: 0px;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        color: #000000;
    }
}

